<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2019 The Android Open Source Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.xt2431_2">

    <overlay
        android:targetPackage="com.android.settings"
        android:isStatic="true"
        android:requiredSystemPropertyName="ro.boot.hardware.sku"
        android:requiredSystemPropertyValue="XT2431-2"
        android:priority="999" />
</manifest>

